body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}
:root{
    --title-color: #2E2F42;
    --text-color:#434455;
    --accent-color:#4D5AE5;
    --hoveraccent-color:#404BBF;
    --textfont:'Raleway', sans-serif; 
}



/* header */
.all-logo{
    font-size: 24px;
    color: var(--title-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}
.logo{
    font-family: var(--textfont);
    color: var(--accent-color);
}
.nav{
    list-style-type: none;
}
.nav a{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;  
}
.nav a:hover,
.nav a:focus{
    color: var(--hoveraccent-color);
}
.contact{
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}
.contact a{
    color: var(--text-color);
    text-decoration: none;
}
.contact a:hover,
.contact a:focus{
    color: var(--hoveraccent-color);
}
/* main */
h1{
    color: #ffffff;
    background-color: var(--title-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
}
.button-order{
    color: #ffffff;
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    cursor:pointer;
}
.button-order:hover,
.button-order:focus{
    background-color: var(--hoveraccent-color);
}
.objectives li{
    list-style-type: none;
}
.objectives h3{
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.25;} 

.doing h2{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height:1.1;} 

.doing li{
    list-style-type: none;
}
.team h2{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height:1.1;} 

.team li{
    list-style-type: none;
}
.team h3{
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.2;
} 

/* portfolio */
.button-nav-list{
    list-style-type: none;
}
.button-nav{
    color: var(--accent-color);
    background-color: #F4F4FD;
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    cursor:pointer;
}
.button-nav:hover,
.button-nav:focus{
    color: #ffffff;
    background-color: var(--hoveraccent-color);
}
.examples{
    list-style-type: none;
}
.examples h2{
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.2;
} 
